<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header %>
</header>
<body>
  <h2> Your shortened URLs </h2>
  <table>
  <% if (urls.length !== 0) { %>
  <tr>
    <th>Unique ID</th>
    <th>Original Link</th>
    <th colspan="2">Actions</th>
  </tr>
  <% urls.forEach(function(everylink){ %>
  <tr>
    <td><%= everylink.id %></td>
    <td><a href=<%= everylink.link%>><%= everylink.link%></a></td>
    <td><form action="/urls/<%=everylink.id%>" method="get"><button type="submit"s>EDIT 🛠</button></form></td>
    <td><form action="/urls/<%=everylink.id%>/delete" method="post"><button type="submit"s>DELETE 🗑</button></form></td>
  </tr>
  <% })}; %>
  </table><br>
    <a href="/urls/new">Create a New Short Link</a>
  </ul>
</body>
</html>